
html, body {
    margin: 0;
    padding: 0;
    background-color: #b8b8b8;
    height: 1200px; /** temporary for footer **/
}

nav {background-color: #7fffd4;}

#hero {background-color: #e2a128; height:400px;}


footer {
    background-color: #f8a1f1;
    height: 100px;
    position: fixed;
    bottom: 0;
}